

body{
    font-family: 'Lato', sans-serif;

}
*{
	margin: 0;
	padding: 0;

/*font-family: 'Poppins', sans-serif;*/
}









.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;

}

.bg_animate{  
 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg');
    width: 100%;
    height: 100vh;
  background-repeat: no-repeat;
  background-size : cover;
  height : 100vh;
    position: relative;
    overflow: hidden;
}



.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;

}
.botones{
  display: flex;
flex-wrap: wrap; 
}

.botones .btn{
  width: 25%;
  margin-right: 10px;
}
.banner_title h2{  text-shadow: 0 0 5px #00C2BA, 0 0 15px #00C2BA, 0 0 30px #00C2BA, 0 0 50px #00C2BA;
    color: #00C2BA;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0px;
    margin-top: 20px;
     animation: movimiento 2.5s linear infinite;
}
.banner_title h1{
    text-shadow: 0 0 #fff, 0 0 15px #fff, 0 0 #fff, 0 0 50px #fff;
    color: #fff;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 20px;
}

.banner_title .llamanos{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    background: #1A2849;
    padding: 20px;
}

.banner_img{
    animation: movimiento 2.5s linear infinite;
}

.banner_img img{
    width: 600px;
    display: block;
}


/* burbujas */

.cuadrado{
    border-radius: 0%;
    background: #00C2BA;
    opacity: .3;

    position: absolute;
    bottom: -150;
    
    animation: cuadrados 1s linear infinite ;
}

.cuadrado:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.cuadrado:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.cuadrado:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 2s;
    animation-delay: 8s;
}

.cuadrado:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.cuadrado:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.cuadrado:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.cuadrado:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.cuadrado:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.cuadrado:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.cuadrado:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}
.contenedor2{
      background: linear-gradient(to right,#00C2BA, #9E53EE);
}

@keyframes cuadrados{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }


/*servicios*/



/*servicios*/
}
.trabajo .content{
margin-top: 20px;
 display: flex;
  justify-content: center;
  align-items: center;
}

a{
    text-decoration: none;
    text-align: center; 
    padding-top: 20px; 
    padding-bottom: -30px;
}

.btn {
      text-shadow: 0 0 #fff, 0 0 15px #fff, 0 0 #fff, 0 0 50px #fff;
    color: #fff;
  position: relative;
  display: block;
  height: 40px;
  width: 200px;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  transition: all 500ms ease;
  border: 2px solid #20e2d7;
  margin-bottom: 40px;
  z-index: 0;
  font-weight: 700;
  cursor: pointer;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-color: #20e2d7;
  transition: all 500ms ease;
  z-index: -1;
}

.btn--3:hover {
  animation: shadow-pulse 1000ms 1;
  background-color: #20e2d7;
  text-shadow: 0 0 #fff, 0 0 15px #fff, 0 0 #fff, 0 0 50px #fff;
    color: #fff;

}



@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(32, 226, 215, 0.6);
  }
  100% {
    box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
  }
}





.trabajotitulo h2{
 text-shadow: 0 0 5px #00C2BA, 0 0 15px #00C2BA, 0 0 30px #00C2BA, 0 0 50px #00C2BA;
    color: #fff;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 0px;
     animation: movimiento 2.5s linear infinite;
}

/*modal*/
.trabajo .contenedor-trabajo {
	height:417px;
	box-shadow:0 0 5px 1px rgba(0,0,0,.1),0 10px 20px 0 rgba(0,0,0,.2);
	overflow:hidden;
	width: 350px;
	cursor:pointer;
	margin: 22px;
	transition:.7s
}
	
.contenedor-trabajo img {
	display:none
}
.contenedor-trabajo img:first-child {
	display:block;
	width:100%;
	min-height:250px
}
.modal {
	display:none;
	justify-content:space-around;
	align-items:center;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	/*! padding:10px; */
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.9);
	transition:.3s
}
.close {
	position:absolute;
	top:30px;
	right:50px;
	color:#fff;
	font-size:35px;
	z-index:2
}
.contenedor-modal {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-flow:column;
	width:80vw;
	height:85vh;
	margin:80px auto 0;
	position: relative;
	overflow: hidden;
}

.modal-img {
	display:flex;
	justify-content: flex-start;
	align-items:center;
	width:100%;
	height: 85%;
	transition:.5s;
}

.modal-img img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	flex-shrink: 0;
}
.buttons{
	display:flex;
	justify-content: space-around;
	align-items:center;
	height: 20%;
	width: 70%;
}
.fa, .fas{
	cursor: pointer;
}
.btn-left, .btn-right{
	display: inline-block;
	padding: 0 20px;
	color: #fff;
	font-size: 30px;
	z-index: 2;
	cursor: pointer;
}


.diseñoweb{
	display: flex;
	flex-wrap: wrap;

	justify-content: center
}
	

.seccion2{
	height: 100vh;
	width: 90%;
	margin: auto;
	
}
 

.trabajos{

background-size: 1000px;
	padding-top: 100px;
		padding-bottom: 100px;
}

.trabajotitulo{

	font-size: 30px;
color: #282923;
font-weight: 600;
text-align: center;
margin-bottom: 100px;
}
.trabajosflex{

max-width: 1280px;
display: flex;
flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
}
.trabajo{

display: flex;
flex-direction: column;
   
margin: 0px 22px 50px 22px;
}

.trabajo img:hover{
	width: 375px;
}
.trabajo img{
	width: 350px;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 1px, rgba(0, 0, 0, 0.2) 0px 10px 20px 0px;
	transition: .7s;
}





@media screen and (max-width:1195px){
	.trabajo img{
		width: 450px;
	}



}

@media screen and (max-width:980px){
	.banner_title h1{
		font-size: 60px;
	}


}



@media screen and (max-width:780px){
	.banner_img{
		display: none;
	}


.trabajotitulo h2 {
	font-size: 35px;
}

}


@media screen and (max-width:560px){
  .banner_title h1{

    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 40px;
  }
  .cuadrado:nth-child(8){
    display: none;
  }
    .cuadrado:nth-child(7){
    display: none;
  }
    .cuadrado:nth-child(5){
    display: none;
  }
     .cuadrado:nth-child(5){
    display: none;
  }
    .cuadrado:nth-child(2){
    display: none;
  }
  
	.banner_title h1{
		font-size: 40px;
	}
	.banner_title h2{
		font-size: 20px;
	}
	
.btn{
	margin-top: -10px;
	 font-size: 12px;
	height: 15px;
width: 160px;
}
a{
 font-size: 12px;
    padding-top: 10px; 
    padding-bottom: 10px;
}
 .trabajo a{
 font-size: 12px !important;
    padding-top: 10px; 
    padding-bottom: 10px;
}

	.trabajo .contenedor-trabajo{
		width: 300px;
	}
	
	.trabajo img{
		width: 300px;
	}

	
	.trabajo a{
		font-size: 15px;
	}
	

}

@media screen and (max-width:415px){
.botones .btn{
  width: 51%;
margin-bottom: 20px;
}
		.trabajo img{
			width: 200px;
		}
		.trabajo .contenedor-trabajo{
		width: 200px;
	    height: 300px;
	}


.trabajotitulo h2 {
	font-size: 28px;
}


}
@media screen and (max-width:350px){
	.banner_title h1{
		font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
	}
	.btn{
	 font-size: 12px;
	height: 15px;
width: 120px;
}

	.trabajotitulo {
	font-size: 16px;
}
	
}
}